<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <link rel="shortcut icon" href="{% static 'tracker/images/finance.ico' %}" type="image/x-icon"/>
    <link href="{% static 'tracker/css/styles.css' %}" rel="stylesheet" />
</head>
<body>
<header class="header">
    <nav class="navigation">
        <a href="{% url 'home' %}"><img src="{% static 'tracker/images/finance.png' %}" alt="Лого" class="corner-icon" ></a>
        <ul class="main-menu">
            {% for item in mainmenu %}
            <li><a href="{% url item.url_name %}">{{ item.title }}</a></li>
            {% endfor %}
        </ul>
        <a href="{% url 'users:register' %}">Регистрация</a> | <a href="{% url 'users:login' %}">Войти</a>
    </nav>
</header>
<div class="container">
    <aside class="sidebar">
        <h3>Категории:</h3>
        {% if categories %}

            <ul class="category-list">
                {% for cat in categories %}

                <li>{{ cat.name }} <button type="button"><a href="{% url 'update_category' cat.slug %}">Изменить</a></button>
                <button type="button"><a href="{% url 'delete_category' cat.slug %}">Удалить</a></button></li>
                                {% endfor %}
            </ul>
        {% endif %}
    </aside>

    <main class="main-content">
        {% block content %}
        <button type="button"><a href="{% url 'create_operation' %}">Добавить операцию</a></button>
        <button type="button"><a href="{% url 'create_category' %}">Добавить категорию</a></button>
        {% endblock %}
    </main>
</div>
</body>
</html>